blinker==1.9.0
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cssselect2==0.8.0
defusedxml==0.7.1
Flask==3.1.1
Flask-Dance==7.1.0
Flask-Login==0.6.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql-connector-python==9.4.0
oauthlib==3.3.1
packaging==25.0
pillow==11.3.0
pycparser==2.22
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
requests-oauthlib==2.0.0
tinycss2==1.4.0
urllib3==2.5.0
URLObject==3.0.0
webencodings==0.5.1
Werkzeug==3.1.3